<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加学生</title>
</head>
<body>

<form  th:action="@{/addStu2}" method="post"  >
    Id:<input type="text" name="Id"><br>
    Name<input type="text" name = "Name"><br>
    Sex<input type="text" name = "Sex"><br>
    College<input type="text" name = "College"><br>
    Dor<input type="text" name = "Dor"><br>
    Phone<input type="text" name = "Phone"><br>
    <input type="submit" value = "添加">
</form>






</body>
</html>